<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kamera HTTP Server</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script type="module" src="/static/script.js"></script>
</head>
<body>
    <h1>Live Kamera Stream</h1>
    <div class="Buttons">
      <button id="ResultB">Result</button>
      <button id="LiveB">Live</button>
    </div>
    <div class="container">
      <div id="stream"></div>
      <div>
        <div class="Filter">
          <button id="1" onclick="change_border(this.id)">1 (Grün)</button>
          <button id="2" onclick="change_border(this.id)">2 (Rot 1)</button>
          <button id="3" onclick="change_border(this.id)">3 (Rot 2)</button>
          <button id="4" onclick="change_border(this.id)">4 (Schwarz)</button>
          <button id="5" onclick="change_border(this.id)">5 (Pink)</button>
        </div>
        <div id="picker"></div>
        <div id="picker2"></div>
        <input type="range" min="0" max="0,08" id="toleranceR">
        <div id="preset"></div>
        <div class="text">
          <p id="outputU"></p>
          <p id="outputL"></p>
          <p id="toleranceV"></p>
        </div>
      </div>
    </div>
    <div class ="container">
      <div class="slider-card">
        <span class="slider-label">Winkel der Matte</span>
        <span class="slider-number" id="angleDisplay">0</span>
        <div class="slider-row">
          <span class="slider-bound">0°</span>
          <input type="range" min="0" max="360" id="angleSlider" value="0">
          <span class="slider-bound">360°</span>
        </div>
      </div>
    </div>
    <div class ="container">
      <div class="slider-card">
        <span class="slider-label">Geschwindigkeit</span>
        <span class="slider-number" id="motorDisplay">0</span>
        <div class="slider-row">
          <span class="slider-bound">-1</span>
          <input type="range" id="motorSlider" min="-1" max="1" value="0" step="0.01">
          <span class="slider-bound">1</span>
        </div>
      </div>
    </div class ="container">
    <div class ="container">
      <div class="slider-card">
        <span class="slider-label">Helligkeit</span>
        <span class="slider-number" id="brightnessDisplay">0</span>
        <div class="slider-row">
          <span class="slider-bound">-1</span>
          <input type="range" id="brightnessSlider" min="0" max="1" value="0" step="0.01">
          <span class="slider-bound">1</span>
        </div>
      </div>
    </div class ="container">
</body>
</html>
