<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kamera HTTP Server</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script type="module" src="/static/script.js"></script>
</head>
<body>
    <h1>Live Kamera Stream</h1>
    <div class="Buttons">
      <button id="ResultB">Result</button>
      <button id="LiveB">Live</button>
    </div>
    <div class="container">
      <div id="stream"></div>
      <div>
        <div class="Filter">
          <button id="1" onclick="change_border(this.id)">1</button>
          <button id="2" onclick="change_border(this.id)">2</button>
          <button id="3" onclick="change_border(this.id)">3</button>
        </div>
        <div id="picker"></div>
        <div id="picker2"></div>
        <p id="output"></p>
        <div id="preset"></div>
      </div>
    </div>
</body>
</html>
